HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


src/main/java/com/ProjectBackend/team9ProjectBackend/service/jwt
src/main/java/com/ProjectBackend/team9ProjectBackend/service/HospitalAuthorizationService.java
src/main/java/com/ProjectBackend/team9ProjectBackend/service/AuthorizationServiceImplem.java
src/main/java/com/ProjectBackend/team9ProjectBackend/Controller/HospitalAuthorizationController.java
src/main/java/com/ProjectBackend/team9ProjectBackend/Controller/AuthorizationController.java